name: Compare club rankings

on:
  schedule:
    - cron: '45 10 * * *'
  workflow_dispatch:

jobs:
  compare:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: 'release', rspm: 'https://packagemanager.rstudio.com/cran/__linux__/focal/latest'}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CLUB_RANKINGS_TOKEN: ${{ secrets.CLUB_RANKINGS_TOKEN }}
      RSPM: ${{ matrix.config.rspm }}
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          extra-packages: |
            ropensci/piggyback
      - name: Compare rankings
        run: Rscript -e 'source(file.path("R", "compare.R"), echo = TRUE)'
